@charset "utf-8";

#sub_header {
  position: fixed;
  display: none;
  width: 100%;
    min-width: 1500px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
  top: 100px;
}

#sub_header > ul {
  width: 1100px;
  margin: 0 auto;
  height: 50px;
}

#sub_header > ul > li {
  float: left;
  width: calc(1100px / 6);
  line-height: 50px;
  text-align: center;
}

#sub_header > ul > li > a {
  color: white;
}

#sub_header > ul > li > a:hover {
  color: yellow;
}

#sub_header .logo a {
  position: absolute;
  top: 0;
  left: 5%;
  font-size: 30px;
  color: white;
}

#sub_header .logo a:hover {
  color: yellow;
}

.top_button a {
  position: absolute;
  top: 0px;
  right: 20px;
  width: 0;
  height: 0;
  border-bottom: 15px solid transparent;
  border-top: 15px solid transparent;
  border-left: 25px solid white;
  border-right: 25px solid transparent;
  transform: rotate(-90deg) scale(0.7);
}

.top_button a:hover {
  border-bottom: 15px solid transparent;
  border-top: 15px solid transparent;
  border-left: 25px solid yellow;
  border-right: 25px solid transparent;
}

.art1 {
  width: 1920px;
  height: 1080px;
  background-color: black;
  position: relative;
}

.art1 p {
  position: absolute;
  color: white;
  font-size: 100px;
  top: 250px;
  left: 60px;
  text-align: center;
  line-height: 120px;
}

.art2 {
  width: 1920px;
  height: 5400px;
  background: linear-gradient(black, #ddd);
}

.art2_1 {
  width: 1810px;
  margin: 0 auto;
  height: 570px;
}

.art2_2 {
  width: 1810px;
  margin: 0 auto;
  height: 570px;
}

.art2_1 > li {
  float: left;
  margin-right: 50px;
  margin-bottom: 50px;
}

.art2_1 > li:last-child {
  margin-right: 0;
}

.art2_2 > li {
  float: left;
  margin-right: 50px;
  margin-bottom: 50px;
}

.art2_2 > li:last-child {
  margin-right: 0;
}

.art2_2 > li {
  float: left;
}

.art3 {
  width: 1262px;
  height: 1600px;
  margin: 0px auto;
}

.art3 h4 {
  font-size: 30px;
  text-align: justify;
    color: white;
}

.art3 p {
  font-size: 21px;
  text-align: justify;
  margin-top: 60px;
    color: white;
}

#L_art3,
#R_art3 {
  float: left;
  width: 586px;
  height: 300px;
}

#L_art3 {
  margin-right: 90px;
  margin-bottom: 100px;
}

.art4 {
  width: 1262px;
  height: 2480px;
  margin: 0 auto;
}

.art4 li {
  margin-bottom: 150px;
  position: relative;
}

.textbox_L {
  width: 1260px;
  height: 0px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  transition: all 1s;
}

.art4 > ul > li:hover .textbox_L {
  height: 520px;
}

.art4 > ul > li:hover .textbox_R {
  height: 520px;
}

.textbox_R {
  width: 1260px;
  height: 0px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  transition: all 1s;
}

.text_L {
  position: absolute;
  width: 500px;
  height: 300px;
  top: 180px;
  left: 70px;
}

.text_R {
  position: absolute;
  width: 500px;
  height: 300px;
  top: 180px;
  right: 70px;
}

.textbox_L h4 {
  font-size: 30px;
  color: white;
}

.textbox_R h4 {
  font-size: 30px;
  color: white;
}

.textbox_L p {
  font-size: 21px;
  color: white;
  line-height: 30px;
  text-align: justify;
  margin-top: 40px;
}

.textbox_R p {
  font-size: 21px;
  color: white;
  line-height: 30px;
  text-align: justify;
  margin-top: 40px;
}

.art5 {
  width: 1262px;
  height: 900px;
  margin: 0 auto;
  position: relative;
}

.art5 h3 {
  font-size: 72px;
  text-align: center;
  margin-top: 40px;
}

.art5 img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.art5 > ul {
  width: 800px;
  height: 100px;
  left: 50%;
  transform: translateX(-50%);
  top: 600px;
  position: absolute;
}

.art5 > ul > li {
  width: 800px;
  margin: 0 auto;
}

.art5 > ul > li {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: aqua;
  float: left;
  margin-right: 75px;
  box-sizing: border-box;
}

/*

.art5 > ul > li:hover{
    border: 15px solid #ddd;
}
*/

.art5 > ul > li:nth-child(1) {
  background-color: #333231;
}
.art5 > ul > li:nth-child(2) {
  background-color: #6a1b1d;
}
.art5 > ul > li:nth-child(3) {
  background-color: #696a6a;
}
.art5 > ul > li:nth-child(4) {
  background-color: white;
}
.art5 > ul > li:last-child {
  margin-right: 0px;
  background-color: black;
}

.btn {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.btn li {
  float: left;
  border: 1px solid;
  margin: 0 70px;
  width: 250px;
  height: 65px;
  border-radius: 20px;
}

.btn li:hover {
  background-color: rgba(221, 221, 221, 0.5);
}

.btn li a {
  font-size: 30px;
  display: block;
  text-align: center;
  line-height: 65px;
}

.img-clicked {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.6);

  align-items: center;
  justify-content: center;
  display: none;
}

.hidden-img {
  display: none;
}

.default-img {
  display: flex;
}


.art1 p {
    color: #fff;
    font-size: 100px;
    text-transform: uppercase;
    font-weight: 700;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.94) 50%, rgba(255, 230, 43, 0.77) 50%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 3s linear infinite;
    display: inline-block;
  }


@keyframes textclip {
  to {
    background-position: -200% center;
  }
}